* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: $body-bg;
}

h1 {
  font-size: 2.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
