div#bot-settings-bar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% auto 10%;
  grid-gap: 5px;
  width: calc($size-chess * 8);
  height: calc($size-chess * 8);
  background-color: rgba(0, 0, 0, 0.5);

  #bot-settings-bar-difficulty {
    padding: 5px;

    h3 {
      color: white;
      font-size: 2.0rem;
      font-weight: lighter;
    }
    #difficulty-list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 5px;
      button {
        width: 100%;
        padding: 10px 0px;
        border-radius: 2px;
      
        &:hover {
          background-color: rgba(209, 199, 199, 0.9);
          cursor: pointer;
        }
        
        &.difficulty-active {
          background-color: rgb(87, 74, 74);
        }
      }
    }
  }

  #bot-settings-bar-history {
    background-color: rgba(74, 68, 68, 0.657);
    overflow-y: auto;
    padding: 0px 15px;
    margin-top: 5px;

    div {
      &.right {
        display: flex;
        justify-content: right;
      }

      .bubble-message {
        display: block;
        background-color: rgb(141, 217, 90);
        font-size: 1.5rem;
        padding: 10px;
        margin: 10px 0px;
        border-radius: 5px;
        width: fit-content;
        max-width: 100%;
        word-break: break-all;
      }
    }
  }

  #bot-settings-bar-action {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    button {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      &:hover {
        background-color: gray;
        cursor: pointer;
      }
    }
  }
}
