#promotion-board-container {
  display: none;
  position: fixed;
  margin-left: -$size-chess;
  //calc($size-chess * 8 / 2 / 2.5)
  width: $size-chess;
  height: calc($size-chess * 5);
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 3;

  &.invert {
    top: initial;
    left: initial;
    bottom: 0px !important;
    right: -80px !important;
    transform: rotate(180deg) !important;
  }

  div {
    display: block;
    width: $size-chess;
    height: $size-chess;

    img {
      width: 100%;
      height: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}